<!DOCTYPE html>

<html>

<body>

<h1 style="color:red; font-size:300%; background-color:black; text-align:center; border:3px solid red; padding:100px;"> New Life Diesel & Automotive </h1>

<br>
<br>
<br>
<br>
<br>
<p style="border:2px solid black; font-size:25%; text-align:center; padding:20px;"> Here is the fine print </p>
</body>
</html>




<%= link_to "Homepage", root_path %>