<!DOCTYPE html>

<html>

<body>

<h1 style="color:red; font-size:300%; background-color:black; text-align:center; border:3px solid red; padding:100px;"> New Life Diesel & Automotive </h1>

<h2 style="color:black; font-size:200%;"> What we do </h2>

<p style="font-size100%"> We are a small shop automotive repair shop with big dreams in a small town. We are dedicated to giving the customer the best repairs available at the best posible cost. We offer a wide range of services from engine work
to brake work and just about everything inbetween. We work on gas and diesel engines and drivetrains. If you are having troubles with your car give us a call.</p>

<br>
<br>
<br>
<br>
<br>
<p style="border:2px solid black; font-size:25%; text-align:center; padding:20px;"> Here is the fine print </p>
</body>
</html>


<%= link_to "About", about_path %>